.close{
    position: absolute;
    font-size: 1.8em;
    right: 0;
    cursor: pointer;
}

.project-container{
    width: 100vw;
    height: 100vh;
    background: olive;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.project-container-content{

}