.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .parallax-inner{
        
    }
}

.landing-page-image{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

}