:root{
    --navbar-height: 48px
}


.background {
}

.page{
    padding-bottom: 60px;
}
// .skill-container:not(:first-child){
//     margin-left: 20px;
// }

.fully-padded{
    padding: 80px 50px 50px 60px;
}

.col{
    width: 100%;
}