@import '~antd/dist/antd.css';
@import "./components.scss";
@import "./layout.scss";
@import "./typography.scss";
@import "./theme.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000A19 !important;
  
}

img {
  
}

.show {
  display: block;
}

.hide {
  display: none !important;
}

.main{
  // padding-top: var(--navbar-height);
  background-image: url("../assets/images/background.png");
  background-size: contain;
  cursor: default;
  width: 100%;
  min-height: 100vh;
  
}
.relative {
  position: relative;
}

.back-button {
  
}